.gitignore
.editorconfig
.huskyrc
.lintstagedrc
.browserslistrc
.prettierignore
.prettierrc.js
babel.config.js
jest.config.js
tsconfig.json
tslint.json
LICENSE

*.html
*.txt
*.ico
*.png
*.svg
*.log
*.lock
